<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ihxlife.qyhgateway.mapper.AccesstokenInfoMapper" >
  <resultMap id="BaseResultMap" type="com.ihxlife.qyhgateway.dto.AccesstokenInfo" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="corpid" property="corpid" jdbcType="VARCHAR" />
    <result column="secret" property="secret" jdbcType="VARCHAR" />
    <result column="detail" property="detail" jdbcType="VARCHAR" />
    <result column="createtime" property="createtime" jdbcType="TIMESTAMP" />
    <result column="updatetime" property="updatetime" jdbcType="TIMESTAMP" />
    <result column="access_token" property="accessToken" jdbcType="VARCHAR" />
    <result column="token_expires_in" property="tokenExpiresIn" jdbcType="VARCHAR" />
    <result column="ticket" property="ticket" jdbcType="VARCHAR" />
    <result column="ticket_expires_in" property="ticketExpiresIn" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, corpid, secret, detail, createtime, updatetime, access_token, token_expires_in, 
    ticket, ticket_expires_in
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.ihxlife.qyhgateway.dto.AccesstokenInfoExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from accesstoken_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from accesstoken_info
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from accesstoken_info
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.ihxlife.qyhgateway.dto.AccesstokenInfoExample" >
    delete from accesstoken_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.ihxlife.qyhgateway.dto.AccesstokenInfo" >
    insert into accesstoken_info (id, corpid, secret, 
      detail, createtime, updatetime, 
      access_token, token_expires_in, ticket, 
      ticket_expires_in)
    values (#{id,jdbcType=VARCHAR}, #{corpid,jdbcType=VARCHAR}, #{secret,jdbcType=VARCHAR}, 
      #{detail,jdbcType=VARCHAR}, #{createtime,jdbcType=TIMESTAMP}, #{updatetime,jdbcType=TIMESTAMP}, 
      #{accessToken,jdbcType=VARCHAR}, #{tokenExpiresIn,jdbcType=VARCHAR}, #{ticket,jdbcType=VARCHAR}, 
      #{ticketExpiresIn,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.ihxlife.qyhgateway.dto.AccesstokenInfo" >
    insert into accesstoken_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="corpid != null" >
        corpid,
      </if>
      <if test="secret != null" >
        secret,
      </if>
      <if test="detail != null" >
        detail,
      </if>
      <if test="createtime != null" >
        createtime,
      </if>
      <if test="updatetime != null" >
        updatetime,
      </if>
      <if test="accessToken != null" >
        access_token,
      </if>
      <if test="tokenExpiresIn != null" >
        token_expires_in,
      </if>
      <if test="ticket != null" >
        ticket,
      </if>
      <if test="ticketExpiresIn != null" >
        ticket_expires_in,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="corpid != null" >
        #{corpid,jdbcType=VARCHAR},
      </if>
      <if test="secret != null" >
        #{secret,jdbcType=VARCHAR},
      </if>
      <if test="detail != null" >
        #{detail,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatetime != null" >
        #{updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="accessToken != null" >
        #{accessToken,jdbcType=VARCHAR},
      </if>
      <if test="tokenExpiresIn != null" >
        #{tokenExpiresIn,jdbcType=VARCHAR},
      </if>
      <if test="ticket != null" >
        #{ticket,jdbcType=VARCHAR},
      </if>
      <if test="ticketExpiresIn != null" >
        #{ticketExpiresIn,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.ihxlife.qyhgateway.dto.AccesstokenInfoExample" resultType="java.lang.Integer" >
    select count(*) from accesstoken_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update accesstoken_info
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.corpid != null" >
        corpid = #{record.corpid,jdbcType=VARCHAR},
      </if>
      <if test="record.secret != null" >
        secret = #{record.secret,jdbcType=VARCHAR},
      </if>
      <if test="record.detail != null" >
        detail = #{record.detail,jdbcType=VARCHAR},
      </if>
      <if test="record.createtime != null" >
        createtime = #{record.createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updatetime != null" >
        updatetime = #{record.updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.accessToken != null" >
        access_token = #{record.accessToken,jdbcType=VARCHAR},
      </if>
      <if test="record.tokenExpiresIn != null" >
        token_expires_in = #{record.tokenExpiresIn,jdbcType=VARCHAR},
      </if>
      <if test="record.ticket != null" >
        ticket = #{record.ticket,jdbcType=VARCHAR},
      </if>
      <if test="record.ticketExpiresIn != null" >
        ticket_expires_in = #{record.ticketExpiresIn,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update accesstoken_info
    set id = #{record.id,jdbcType=VARCHAR},
      corpid = #{record.corpid,jdbcType=VARCHAR},
      secret = #{record.secret,jdbcType=VARCHAR},
      detail = #{record.detail,jdbcType=VARCHAR},
      createtime = #{record.createtime,jdbcType=TIMESTAMP},
      updatetime = #{record.updatetime,jdbcType=TIMESTAMP},
      access_token = #{record.accessToken,jdbcType=VARCHAR},
      token_expires_in = #{record.tokenExpiresIn,jdbcType=VARCHAR},
      ticket = #{record.ticket,jdbcType=VARCHAR},
      ticket_expires_in = #{record.ticketExpiresIn,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.ihxlife.qyhgateway.dto.AccesstokenInfo" >
    update accesstoken_info
    <set >
      <if test="corpid != null" >
        corpid = #{corpid,jdbcType=VARCHAR},
      </if>
      <if test="secret != null" >
        secret = #{secret,jdbcType=VARCHAR},
      </if>
      <if test="detail != null" >
        detail = #{detail,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        createtime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatetime != null" >
        updatetime = #{updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="accessToken != null" >
        access_token = #{accessToken,jdbcType=VARCHAR},
      </if>
      <if test="tokenExpiresIn != null" >
        token_expires_in = #{tokenExpiresIn,jdbcType=VARCHAR},
      </if>
      <if test="ticket != null" >
        ticket = #{ticket,jdbcType=VARCHAR},
      </if>
      <if test="ticketExpiresIn != null" >
        ticket_expires_in = #{ticketExpiresIn,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ihxlife.qyhgateway.dto.AccesstokenInfo" >
    update accesstoken_info
    set corpid = #{corpid,jdbcType=VARCHAR},
      secret = #{secret,jdbcType=VARCHAR},
      detail = #{detail,jdbcType=VARCHAR},
      createtime = #{createtime,jdbcType=TIMESTAMP},
      updatetime = #{updatetime,jdbcType=TIMESTAMP},
      access_token = #{accessToken,jdbcType=VARCHAR},
      token_expires_in = #{tokenExpiresIn,jdbcType=VARCHAR},
      ticket = #{ticket,jdbcType=VARCHAR},
      ticket_expires_in = #{ticketExpiresIn,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>