<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans 
        http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context-3.0.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd">

	<context:component-scan base-package="com.ihxlife.qyhgateway.web"
		use-default-filters="false">
		<context:include-filter type="annotation"
			expression="org.springframework.stereotype.Controller" />
	</context:component-scan>

	<!-- 启动Spring MVC的注解功能，完成请求和注解POJO的映射 -->
	<bean
		class="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerMapping"></bean>
	<bean
		class="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerAdapter">
		<property name="messageConverters">
			<list>
				<bean
					class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter" />
			</list>
		</property>
	</bean>


	<mvc:resources location="/static/**" mapping="/static/**" />
	<bean
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/WEB-INF/views"></property>
		<property name="suffix" value=".jsp" />
	</bean>
	
	<!-- 对外接口统一拦截器，配置要拦截的路径，否则拦截所有Controller -->
	<mvc:interceptors>
		<mvc:interceptor>
			<mvc:mapping path="/api/v1/**" />
			<bean class="com.ihxlife.qyhgateway.support.interceptor.QyhGatewayInterceptor"></bean>
		</mvc:interceptor>
	</mvc:interceptors>
	

	<!-- 启动Spring MVC异常处理 -->
	<bean id="handlerExceptionResolver" class="com.ihxlife.qyhgateway.support.exception.QyhGatewayExceptionHandler">
		<property name="defaultErrorView" value="/common/weChatMessage" /> <!--错误页面 -->
		<property name="messageConverters">
			<list>
				<bean class="org.springframework.http.converter.ByteArrayHttpMessageConverter" />
				<!-- JSON转换器无需设置mediaType,由外部客户端调用时，手动设置相关mediaType -->
				<bean class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter" />
			</list>
		</property>
	</bean>
</beans>